<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body{
            font-family: Tahoma, serif;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <h1>Unable to activate your account</h1>
        </header>
        <p>
            This likely means that you failed to activate your account in the 10-hour time frame. Please sign up again
            and activate your account within 10 hours.
        </p>
    </main>
</body>
</html>